<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Enrrollateweb</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>
	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/TestDS</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<filter>
		<description>Filtro sitemesh</description>
		<display-name>PageFilter</display-name>
		<filter-name>PageFilter</filter-name>
		<filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>PageFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<description>description</description>
		<display-name>UsuarioUpdate</display-name>
		<servlet-name>UsuarioUpdate</servlet-name>
		<servlet-class>mx.uam.azc.arachnocoders.enrrollate.controller.UsuarioUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsuarioUpdate</servlet-name>
		<url-pattern>/UsuarioUpdate</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>description</description>
		<display-name>UserForm</display-name>
		<servlet-name>UserForm</servlet-name>
		<servlet-class>mx.uam.azc.arachnocoders.enrrollate.controller.UserFormServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserForm</servlet-name>
		<url-pattern>/UserForm</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>description</description>
		<display-name>UserFormXls</display-name>
		<servlet-name>UserFormXls</servlet-name>
		<servlet-class>mx.uam.azc.arachnocoders.enrrollate.controller.UserFormXlsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserFormXls</servlet-name>
		<url-pattern>/UserFormXls</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>description</description>
		<display-name>UserFormPdf</display-name>
		<servlet-name>UserFormPdf</servlet-name>
		<servlet-class>mx.uam.azc.arachnocoders.enrrollate.controller.UserFormPdfServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserFormPdf</servlet-name>
		<url-pattern>/UserFormPdf</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>description</description>
		<display-name>UserFormHtml</display-name>
		<servlet-name>UserFormHtml</servlet-name>
		<servlet-class>mx.uam.azc.arachnocoders.enrrollate.controller.UserFormHtmlServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserFormHtml</servlet-name>
		<url-pattern>/UserFormHtml</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>mx.uam.azc.arachnocoders.enrrollate.controller.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	
	


		<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>mx.uam.azc.arachnocoders.enrrollate.controller.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>


<servlet>
    <servlet-name>VerProductosServlet</servlet-name>
    <servlet-class>mx.uam.azc.arachnocoders.enrrollate.controller.VerProductosServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>VerProductosServlet</servlet-name>
    <url-pattern>/VerProductos</url-pattern>
</servlet-mapping>


    <servlet>
        <servlet-name>CarritoServlet</servlet-name>
        <servlet-class>mx.uam.azc.arachnocoders.enrrollate.controller.CarritoServlet</servlet-class>
    </servlet>

    <!-- Mapeo del servlet -->
    <servlet-mapping>
        <servlet-name>CarritoServlet</servlet-name>
        <url-pattern>/agregarCarrito</url-pattern>
    </servlet-mapping>
<servlet>

    <servlet-name>VerCarritoServlet</servlet-name>
    <servlet-class>mx.uam.azc.arachnocoders.enrrollate.controller.VerCarritoServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>VerCarritoServlet</servlet-name>
    <url-pattern>/verCarrito</url-pattern>
</servlet-mapping>


<servlet>
    <servlet-name>RealizarPedidoServlet</servlet-name>
    <servlet-class>mx.uam.azc.arachnocoders.enrrollate.controller.RealizarPedidoServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>RealizarPedidoServlet</servlet-name>
    <url-pattern>/realizarPedido</url-pattern>
</servlet-mapping>


    <servlet>
        <servlet-name>RegistrarServlet</servlet-name>
        <servlet-class>mx.uam.azc.arachnocoders.enrrollate.controller.RegistrarServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RegistrarServlet</servlet-name>
        <url-pattern>/RegistrarServlet</url-pattern>
    </servlet-mapping>
    
    
        <servlet>
        <servlet-name>ProveedorUpdateForm</servlet-name>
        <servlet-class>mx.uam.azc.arachnocoders.enrrollate.controller.ProveedorUpdateForm</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ProveedorUpdateForm</servlet-name>
        <url-pattern>/ProveedorUpdateForm</url-pattern>
    </servlet-mapping>
    
    
            <servlet>
        <servlet-name>InventarioFormXLS</servlet-name>
        <servlet-class>mx.uam.azc.arachnocoders.enrrollate.controller.InventarioFormXLS</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>InventarioFormXLS</servlet-name>
        <url-pattern>/InventarioFormXLS</url-pattern>
    </servlet-mapping>
    
    
    
    <servlet>
		<servlet-name>MisPedidosServlet</servlet-name>
		<servlet-class>mx.uam.azc.arachnocoders.enrrollate.controller.MisPedidosServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MisPedidosServlet</servlet-name>
		<url-pattern>/MisPedidosServlet</url-pattern>
	</servlet-mapping>
    
    
    
    
        

    
    
    
    
    
    
    
</web-app>